.main-box{
    width: 30%;
    height: 400px;
    margin: auto;
    margin-top: 5%;
    border: solid 1px black;
    overflow-y: auto;
}

.main-box .seller-box{
    height: 100px;
    border: solid 1px black;
    display: flex;
}

.main-box .seller-box .seller-heading{
    padding: 5%;
    color: brown;
}

.main-box .seller-box .seller-price{
    padding: 5%;
    margin-left: auto;
}